// Stylesheet for Classy
// Developed using Stylus by Jake Seaton
// Quincy Dewolfe 20-05

/* Global Vars */
@import url("http://fonts.googleapis.com/css?family=Great+Vibes|Gruppo");
@import url("http://fonts.googleapis.com/css?family=Fondamento:400italic,400");
Parchment_url = url("img/parchment.jpg")

Text_font_family = "Gruppo", cursive
// Classy_font = 60px 'Great Vibes', cursive
Classy_font = 60px "Fondamento", cursive
// Color Scheme
Gold = #BC9D52//#FFD600
Black = #2B2A2A//#616161
White = #E5E8ED//#F5F5F5
Blank = #FFFFFF
Red = #EA212E//#B71C1C
Blue = #90A4AE
Cream = #FFFDE7

header_background_color = Black
results_background_color = Gold

nav_bar_width = 35%
right_width = 100% - nav_bar_width

center_width = 60%
drawer_width = 100% - center_width
drawer_height = 100%
viewer_height = 480px
prereqs_height = 480px
wrapper_height = 100%
  
// @keyframes
square_image()
  width arguments
  height arguments
gradient()
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */

/* Sign In Page*/
#login-sign-in-link
  // background-color Red
  // border-radius 15px
  // color Red
  // gradient()
  &:hover
    // background Red
    color Blue
    cursor pointer
    text-decoration none
#login-name-link
  @extend #login-sign-in-link
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

#login-buttons-password
  gradient()
  width 10%
  margin-left auto
  margin-right auto
  border-radius 5px
  color White
  padding 10px
  &:hover
    background Red
    cursor pointer
    text-decoration none
#login-buttons-open-change-password
  @extend #login-buttons-password
#login-buttons-logout
  @extend #login-buttons-password
  margin-top 10px
#signup-link
  &:hover
    cursor pointer
#back-to-login-link
  @extend #signup-link
.login-close-text
  @extend #signup-link
#browse-link
  @extend #login-buttons-password
  width 30%
  // background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
  // background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
  // width 10%
  // margin-left auto
  // margin-right auto
  // border-radius 5px
  // color White
  // // padding 10px
  // margin-top 10px
  // &:hover
  //   background Red
  //   cursor pointer
 
  //   text-decoration none
b
	font Classy_font
	font-size 20px
#course-title
  text-align center
  background-color Gold
  font Classy_font  
  color White
  font-size 30px
/* Header */
#banner
  // background-color White
  position absolute
  // position absolute
  // margin-left 50%
  // margin-right auto
  color Red
  top 10%
  font Classy_font
  text-align center
  width 100%
  margin-bottom auto
  z-index 30
#circle
  position absolute
  background-color Red
  square_image(40px)
  border-radius 20px
  vertical-align center
  z-index 50
#circle-inner
  @extend #circle
  position relative 
  square_image(36px)
  border-radius 18px
  background-color Blue
  // display inline-block

header
  text-align center
  background header_background_color
  // background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  // padding 20px 15px 15px 15px
  //position relative
  //margin-top 0
  width 100%
  // max-height 10%
  height 50%

  img
    width 8%
    height 100%
    &:hover
      cursor pointer
    // display inline-block
  h1
    //width 100%
    // margin 0 !important
    // margin-left auto
    // margin-right auto
    // color Classy_color

    color White
    background-color header_background_color
    font Classy_font
    font-size 20px
    // margin 0
    // margin-bottom 10px
    display inline-block
    bottom 0
    margin-left 20px
    margin-bottom 0px
    margin-top 20px
    // box-shadow 1px 1px 1px Black
    // margin-right: 1em;
    &:hover
      color Red
      cursor pointer
  #progress-bar
  	display inline block
  	margin-left auto
  	margin-right auto
  	height 50%
    max-width 80% !important
   //  // width 80%
   //  // height 60%
   //  line-height 100%
   //  top 30%
   //  // position absolute
   //  left 10%
   //  right 10%
    border-radius 5px
  #progress-bar-inner
    // display inline-block
    // // vertical-align middle
    // vertical-align left
    // text-align left
    font Classy_font
    font-size 20px
    color White

  #login
    float right
    top auto
    bottom auto
    margin-top 20px
    margin-right 100px
  #user-greeting

    float right
    margin-top 20px
    margin-right 100px

  #search-bar
    // position absolute
    // top 0
    // left 35%
    // right 35%
    // display inline-block
    margin-left 0
    margin-right auto
    height 30%
    width 100%
    max-height 95px
    width 75% !important
    width nav_bar_width
    background-color Black
    text-align center
    color Cream

    form.search-form
        // font Classy_font
        // .toggle-checked
        label
          font Classy_font
          font-size 20px
          display inline-block
        .search-box
          margin-bottom 0
          font Classy_font
          // border 5px solid Gold
          font-size 30px
          color Blue
          width 90%
          border none
          height 40px
          border-radius 0
        .toggle-checked
          display inline-block
  #login-buttons
    display inline-block
    float right
  .redspace
    width 100%
    background-color Red
    height 10px


/* End Header */


  // #search
  //   height 100%
  //   display inline-block
  //   form.search-form
  //       // font Classy_font
  //       // .toggle-checked
  //       margin-top 20px
  //       label
  //         font Classy_font
  //         color White
  //         font-size 20px
  //         display inline-block
  //       .search-box
  //         display inline-block
  //         font Classy_font
  //         // border 5px solid Gold
  //         font-size 30px
  //         color Blue
  //         width 50%
  //         border none
  //         height 40px
  //         border-radius 0
  //       .toggle-checked
  //         display inline-block
// .carousel
//   // position absolute
//   width 100%
//   height 100%
//   top 0
//   bottom 0
//   position absolute
//   // z-index 0
//   img
//     width 100%
//     bottom 0
//     height 100%


/* Body */
body
  overflow hidden
  /* overflow hidden? */
  // background-image Parchment_url
  background-color #E5E8ED
  font-family Text_font_family


#wrapper
  width 100%
  height wrapper_height
  overflow scroll
  -webkit-transition all 2s ease /* For Safari 3.1 to 6.0 */
  transition all 2s ease
  display inline-block
  position absolute
  // position relative
  // z-index 20
  // top 10%
  // text-align center
  // display inline-block
  // overflow hidden
  // overflow scroll
  #card
    position absolute
    overflow scroll
    margin-left auto
    margin-right auto
    display inline-block
    // height 480px
    min-height 70%
    height 70%
    width 50%
    left 25%
    right 25%
    top 10px
    box-shadow 1px 1px 1px Black
    border-bottom 2px solid Red
    border-radius 10px
    &:hover
      box-shadow 2px 2px 2px Black

    // border-left 1px solid Black
    // border-right 1px solid Blank
    // border-radius 20px
    background Blank
    // font Classy_font
    text-align center
    font-size 20px
    z-index 10
      &:hover
        border-bottom 1px solid Blue
    #print
      bottom 0
      position absolute
      width 100%
      text-align center
      img
        width 36px
        height 36px
    #card-title
      background-color Red
      font Classy_font
      font-size 20px
      color White
      gradient()


  #drawer
    position relative
    overflow scroll !important
    float left
    color Cream
    // background-image Parchment_url
    height 600px
    width drawer_width
    z-index 0
    // top 20%
    // bottom 0


    #results
      // background-color Red
      width 100%
      text-align center
      color Black
      // margin-top 0
      margin-left auto
      margin-right auto
      position relative
      bottom 0
      #search-results-table
        left 10px
        height 100%
        width 100%
        font-size 20px
      ul
        // font Classy_font
        margin-left auto
        margin-right auto
        list-style-type none
        li
          background-color Blank
          left 0
          right 0
          height 100px
          width 100%
          margin-bottom 5px
          margin-top 5px
          border-left 5px solid White
          border-bottom 5px solid Red
          border-radius 5px
          // font Classy_font
          // font-size 20px
          &:hover
            border-left 5px solid Red
            border-bottom 5px solid Red
            box-shadow 1px 1px 1px Black
            border-radius 5px
          img
            square_image(36px)
            float right
          .course-info
            // font Classy_font
            // font-size 10px
            top 0
            left 0
            margin-right 0px
            width 80%
            text-align left
            font-size 18px
          .wine-match
            float right
            width 20%
            height 100%
            overflow hidden
            top 0
            right 0px

  #center
    // margin-bottom 0
    // display block
    position relative
    text-align center
    // display inline-block
    width center_width
    float left
    min-height 100%
    // height 100%
    overflow scroll
    z-index 10
    // background-image url("img/parchment.jpg")
    // left 25%
    // right 25%
    #viewer
      a
        text-decoration none
        color Black
      img
        width 36px
        height 36px
      #course-description
        text-align left
        width 90%
        margin-left auto
        margin-right auto
      border-radius 4px
      position relative
      font-size 20px
      font-weight bold
      margin-top 10px
      // border-radius 20px
      height viewer_height
      // box-shadow 10px 10px 10px #888888
      // height 90%
      background-color Blank
      margin-left auto
      width 90%
      margin-right auto
      // background-color Black
      // background-image Parchment_url
      border 1px solid Gold
      box-shadow 1px 1px 1px Black
      color Black

      #refresh
        square_image(36px)
        &:hover
          cursor pointer


      .bars
        // text-align left

        display inline-block
        text-align center
        width 100%
        bottom 0

        margin-bottom 0
        .bar
          display inline-block
          text-align center
          font Classy_font
          font-size 20px
          font-weight bold
          width 30% !important

      .suggestions
        overflow scroll
        display inline-block
        height 190px
        width 100%
        // direction rtl
        bottom 15px
        position absolute
        margin-right auto
        margin-left auto
        left 0
        .circle
          border 1px solid Black
          border-radius 18px
          width 36px
          height 36px
          margin-left auto
          margin-right auto
          text-align center
          i
            position relative
            top 25%
            bottom auto
        .wine-glass
          margin-bottom 0


          top 0
          border-radius 18px
          border 1px solid Black
          .proof
            margin-left auto
            margin-right auto
            margin-top auto
            margin-bottom auto
            position absolute
        .wine-name
          // position relative
          height 40%
          overflow hidden
          width 100%
        .suggestion-item
          width 30%
          display inline-block
          height 100px
          top 0
          // bottom 0
          &:hover
            cursor pointer
            border-bottom 1px solid Red
      .comments
        border-top 1px solid Gold
        position absolute
        width 100%
        height 30%
        margin none
        bottom 10px
        margin-left auto
        overflow scroll
        background-color white
        // position relative
        ul.comment-list
          list-style-type none
          margin-right 25px
          position absolute
          li
            text-align left
            border-bottom 2px solid Gold
            // border 2px solid Gold
            // border-left none
            // border-right none
            // border-bottom 1px solid Red
            padding-top 20px
            padding-bottom 20px
/* Login page */
#login-page
  top 10%
  position absolute
  width 100%
  height 100%
  text-align center
  img
    width 200px
    height 200px
    margin-left auto
    margin-right auto
    display inline block

/* Footer/other */
iframe
  width 100%
  height 100%
  position absolute
  background-color white

footer
  width 100%
  height 10%
  z-index 20
  bottom 0
  background-color Blank
  position fixed
  color Black
  border-top 1px solid Red
  text-align center
  // border 10px solid Blank
  #login-reminder
    color Red
    font Classy_font
    font-size 30px
    width 100%
    top 0
    position absolute
    margin-left auto
    margin-right auto
    left 0
    // animations!
  #progress-bar
    max-width 80% !important
    // width 80%
    height 60%
    line-height 100%
    top 30%
    position absolute
    left 10%
    right 10%
    border-radius 5px
    // gradient()

  #progress-bar-inner
    display inline-block
    // vertical-align middle
    vertical-align left
    text-align left
    font Classy_font
    font-size 20px
    color White
    // position absolute
    // background-color Blue
    // top 20%
    // height 60%
    // top
    // left 0
    // text-align left
  img
    float right
    width 10%
    height 80%
    top 10%
    right 0px
    position absolute
    margin-bottom auto
    margin-top auto
    padding-right 40px
    square_image(55px)
    // position absolute

.whitespace
  margin-top 0
  background-color Gold
  opacity 1
  height 5px
  width 100%
  position absolute


.invisible
  display none

/* Login Buttons */
#login-buttons
  .login-link-text
    font-family Text_font_family
    // change this to change the size of the name

#right
  width 40%
  float right
  // background-color Blank
  position relative
  height 100%
  #feature-box
    font Classy_font
    font-size 20px
    text-align center
    width 90%
    // width 0
    left 5%
    // position relative
    position absolute
    overflow hidden
    margin-top 10px
    margin-right 10px
    height prereqs_height
    // float right
    border 1px solid Red
    border-radius 4px
    box-shadow 1px 1px 1px Black
    background-color Blank
    &:hover
      box-shadow 2px 2px 2px Black
    h2
      margin-left auto
      margin-right auto
      margin-top 0
      Color White
      font Classy_font
      font-size 30px
      background-color Red
      text-align center
      border-bottom 2px

    img
      height 50%
      width 50%
      // border-radius 5px
      // border 1px solid Black
      margin-left 25%
      margin-right 25%
      // position absolute
    .suggestion-item
      background-color Black
      color White
      width 10%
      left 0
.no
  // float left
  position absolute
  bottom 0
  left 10%
  z-index 20
  display inline-block
  height 36px !important
  width 36px !important

  &:hover
    cursor pointer
.yes
  position absolute
  float right
  display inline-block
  height 36px !important
  width 36px !important
  right 10%
  z-index 20
  bottom 0
  // float left
  // margin-left 10px
  &:hover
    cursor pointer

#yes
  gradient()
  color Blank
  position absolute
  display inline-block
  right 10%
  margin 0
  bottom 1%
  border-radius 5px
  padding 10px
  &:hover
    cursor pointer
    color Black
    background Red
#no
  gradient()
  color Blank
  bottom 1%
  border-radius 5px
  position absolute
  display inline-block
  margin 0
  left 10%
  padding 10px
  &:hover
    background Red
    cursor pointer
    color Black
    background-color Red
#studycard
  width 90%
  // font-size 10px !important
  font-size 10px !imporatnt
  text-align left
  padding 5px
  border Black
  position absolute
  top 0
  // height 100%
  z-index 30
  margin-top 5%
  margin-left auto
  margin-right auto
  display inherit
  padding-left 5%
  padding-right 5%
  th
    border-top 1px solid Gold
    padding-right 20px
    padding-top 10px
  tr
    width 10px
  .head-row
    border-bottom 2px solid Red
    font Classy_font
    font-size 30px
    th 
      border-top none !important
      padding-top 20px
    // color Gold
.login-button:hover
  cursor pointer
.classy-font
  font-family Text_font_family
  font-size 30px
  color Red
.regular-font
  font-family Text_font_family
